<div class="wishlist-box-main">
    
    <div class="container">
        <div class="floating-btn back-btn"
             onclick="goBack()"
             style="top:20px; left:10px;">
            ←
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Unit Price </th>

                                <th>Add Item</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="thumbnail-img">
                                    <a href="#">
                                        <img class="img-fluid" src="xe1.jpg" alt="" />
                                    </a>
                                </td>
                                <td class="name-pr">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet
                                    </a>
                                </td>
                                <td class="price-pr">
                                    <p>$ 80.0</p>
                                </td>

                                <td class="add-pr">
                                    <a class="btn hvr-hover" href="#">Add to Cart</a>
                                </td>
                                <td class="remove-pr">
                                    <a href="#">
                                        <a href="#" class=""><img src="thungrac.jpg" class="img-40x50" alt=""></a>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="thumbnail-img">
                                    <a href="#">
                                        <img class="img-fluid" src="xe2.jpg" alt="" />
                                    </a>
                                </td>
                                <td class="name-pr">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet
                                    </a>
                                </td>
                                <td class="price-pr">
                                    <p>$ 60.0</p>
                                </td>

                                <td class="add-pr">
                                    <a class="btn hvr-hover" href="#">Add to Cart</a>
                                </td>
                                <td class="remove-pr">
                                    <a href="#">
                                        <img src="thungrac.jpg" class="img-40x50" alt="">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="thumbnail-img">
                                    <a href="#">
                                        <img class="img-fluid" src="xe1.jpg" alt="" />
                                    </a>
                                </td>
                                <td class="name-pr">
                                    <a href="#">
                                        Lorem ipsum dolor sit amet
                                    </a>
                                </td>
                                <td class="price-pr">
                                    <p>$ 30.0</p>
                                </td>

                                <td class="add-pr">
                                    <a class="btn hvr-hover" href="#">Add to Cart</a>
                                </td>
                                <td class="remove-pr">
                                    <a href="#">
                                        <img src="thungrac.jpg" class="img-40x50" alt="">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
