	<!-- Start Header Area -->
<header class="header_area sticky-header">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light main_box align-items-center">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo_h logo"
					 asp-controller="Home"
					 asp-action="Index">
					<img src="~/img/logo_team.png" alt="Logo" style="width:70px; height:auto;">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto mt-25px">
						<li class="nav-item active"><a class="nav-link" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
						<li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="List">Sản phẩm</a></li>
						<li class="nav-item submenu dropdown">
							<a asp-controller="Home" asp-action="Promotion" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Khuyến mãi</a>
						</li>
						<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Introduction">Giới thiệu</a></li>
						<li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right height-75px">
						<!--            <li class="nav-item"><a href="login.html" class="cart" id="cart"><span class="ti-bag"></span></a></li>-->
						<li class="nav-item"><a asp-controller="Cart" asp-action="Index" class="cart"><span title="Giỏ hàng" class="ti-bag" data-toggle="modal" data-target="#cart1"></span></a></li>
						@* <li class="nav-item"><a asp-controller="Account" asp-action="Login" class="account"><span title="Tài khoản" class="ti-user"></span></a></li> *@
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle p-0"
								 href="#"
								 id="accountDropdown"
								 role="button"
								 data-toggle="dropdown"
								 aria-haspopup="true"
								 aria-expanded="false">
								<span class="ti-user" title="Tài khoản"></span>
							</a>
							<div class="dropdown-menu dropdown-menu-right shadow-sm"
									 aria-labelledby="accountDropdown"
									 style="min-width: 180px;">
								@if (Context.Session.GetInt32("AccountId") == null) {
									<!-- CHƯA ĐĂNG NHẬP -->
									<a class="dropdown-item" asp-controller="Account" asp-action="Login">
										Đăng nhập
									</a>
									<a class="dropdown-item" asp-controller="Account" asp-action="Register">
										Đăng ký
									</a>
								} else {
									<!-- ĐÃ ĐĂNG NHẬP -->
									<div class="dropdown-header text-center">
										<img src="~/img/avatar-default.png"
												 class="rounded-circle mb-2"
												 width="48"
												 height="48"
												 alt="Avatar">
										<div class="font-weight-bold">
											@Context.Session.GetString("FullName")
										</div>
									</div>

									<div class="dropdown-divider"></div>

									<a class="dropdown-item" asp-controller="Account" asp-action="Profile">
										Thông tin tài khoản
									</a>

									<div class="dropdown-divider"></div>

									<a class="dropdown-item text-danger"
										 asp-controller="Account"
										 asp-action="Logout">
										Đăng xuất
									</a>
								}
							</div>
						</li>

						<li class="nav-item">
							<button class="search"><span title="Tìm kiếm" class="lnr lnr-magnifier" id="search"></span></button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="search_input" id="search_input_box">
		<div class="container">
			<form class="d-flex justify-content-between">
				<input type="text" class="form-control" id="search_input" placeholder="Tìm kiếm">
				<button type="submit" class="btn"></button>
				<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
			</form>
		</div>
	</div>

</header>
<!-- End Header Area -->