@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="header black-bg">
	<div class="sidebar-toggle-box">
		<div class="fa fa-bars tooltips" data-placement="right"></div>
	</div>
	<!--logo start-->
	<a asp-area="Admin" asp-controller="Home" asp-action="index" class="logo"><b>Shop MiniCar_Model</b></a>
	<!--logo end-->

	<div class="top-menu">
		<ul class="nav pull-right top-menu">
			<li><a class="logout" asp-area="" asp-controller="Home" asp-action="index">Đăng xuất</a></li>
		</ul>
	</div>
</header>
@* <header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <a asp-area="Admin" asp-controller="Home" asp-action="index" class="logo"><b>Shop MiniCar_Model</b></a>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li><a class="logout" asp-area="" asp-controller="Home" asp-action="index" style="margin-top: 15px; margin-right: 15px;">Đăng xuất</a></li>
        </ul>
    </div>
</header> *@