@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<aside>
	<div id="sidebar" class="nav-collapse">
		<!-- sidebar menu start-->
		<ul class="sidebar-menu" id="nav-accordion">
			<li>
				<p class="centered">
					<a asp-area="Admin" asp-controller="Account" asp-action="profile">
						<img src="~/admin/img/ui-sam.jpg" class="img-circle" width="60">
					</a>
				</p>
				<h5 class="centered">Admin</h5>
			</li>


			<li class="mt">
				<a asp-area="Admin" asp-controller="Home" asp-action="index">
					<i class="fa fa-dashboard"></i>
					<span>Trang chủ</span>
				</a>
			</li>
			<li class="sub-menu">
				<a asp-area="Admin" asp-controller="Statistic" asp-action="Index">
					<i class=" fa fa-bar-chart-o"></i>
					<span>Thống kê</span>
				</a>
			</li>
			<li class="active sub-menu">
				<a asp-area="Admin" asp-controller="Supplier" asp-action="Index">
					<i class=" fa fa-bar-chart-o"></i>
					<span>Nhà cung cấp</span>
				</a>
			</li>
			<li class="sub-menu">
				<a asp-area="Admin" asp-controller="Customer" asp-action="Index">
					<i class=" fa fa-bar-chart-o"></i>
					<span>Khách hàng</span>
				</a>
			</li>
			<li class="sub-menu">
				<a asp-area="Admin" asp-controller="Product" asp-action="Index">
					<i class=" fa fa-bar-chart-o"></i>
					<span>Sản phẩm</span>
				</a>
			</li>
			<li class="sub-menu">
				<a asp-area="Admin" asp-controller="Category" asp-action="Index">
					<i class=" fa fa-bar-chart-o"></i>
					<span>Loại sản phẩm</span>
				</a>
			</li>
			<li class="sub-menu">
				<a asp-area="Admin" asp-controller="Cart" asp-action="Index">
					<i class=" fa fa-bar-chart-o"></i>
					<span>Giỏ hàng</span>
				</a>
			</li>
			<li class="sub-menu">
				<a asp-area="Admin" asp-controller="Bill" asp-action="Index">
					<i class=" fa fa-bar-chart-o"></i>
					<span>Hóa đơn</span>
				</a>
			</li>

			<li class="sub-menu">
				<a asp-area="Admin" asp-controller="Comment" asp-action="Index">
					<i class=" fa fa-bar-chart-o"></i>
					<span>Bình luận</span>
				</a>
			</li>
			<li class="sub-menu">
				<a asp-area="Admin" asp-controller="Advertisement" asp-action="Index">
					<i class=" fa fa-bar-chart-o"></i>
					<span>Quảng cáo</span>
				</a>
			</li>
			<li class="sub-menu">
				<a asp-area="Admin" asp-controller="Promotion" asp-action="Index">
					<i class=" fa fa-bar-chart-o"></i>
					<span>khuyến mãi</span>
				</a>
			</li>
			<li class="sub-menu">
				<a href="javascript:;" data-toggle="collapse" data-target="#companySubMenu">
					<i class="fa fa-info-circle"></i>
					<span>Thông tin</span>
					<span class="menu-arrow pull-right">
						<i class="fa fa-angle-down"></i>
					</span>
				</a>

				<ul class="sub collapse" id="companySubMenu">
					<li>
						<a asp-area="Admin"
							 asp-controller="CompanyInfo"
							 asp-action="Edit">
							Công ty
						</a>
					</li>

					<li>
						<a asp-area="Admin"
							 asp-controller="CompanyPolicy"
							 asp-action="Index">
							Chính sách
						</a>
					</li>
					<li>
						<a asp-area="Admin"
							 asp-controller="BlogPost"
							 asp-action="Index">
							Bài viết blog
						</a>
					</li>
					<li>
						<a asp-area="Admin"
							 asp-controller="ProductPost"
							 asp-action="Index">
							Bài viết sản phẩm
						</a>
					</li>
				</ul>
			</li>
			<li class="sub-menu">
				<a href="javascript:;">
					<i class="fa fa-bar-chart-o"></i>
					<span>Thống kê</span>
					<span class="menu-arrow"></span>
				</a>

				<ul class="sub">
					<li>
						<a asp-area="Admin"
							 asp-controller="Statistic"
							 asp-action="RevenueByDay">
							Doanh thu
						</a>
					</li>

					<li>
						<a asp-area="Admin"
							 asp-controller="Statistic"
							 asp-action="OrderCountByDay">
							Lượt mua
						</a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- sidebar menu end-->
	</div>
</aside>

