@model MiniCar_Model.Models.ViewModels.DashboardViewModel

<section id="main-content">
  <section class="wrapper">

    <h3>
      <i class="fa fa-angle-right"></i>
      Trang chủ quản trị
    </h3>
    <div class="row mt">
      <div class="col-lg-12">
        <div class="content-panel">
          <h4>
            <i class="fa fa-bar-chart"></i>
            Biểu đồ thống kê tổng
          </h4>

          <div class="panel-body" style="height:360px">
            <canvas id="dashboardChart" style="width:100%; height:100%"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

@section Scripts {
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    new Chart(document.getElementById('dashboardChart'), {
      type: 'bar',
      data: {
        labels: [
          'Tài khoản',
          'Sản phẩm',
          'Đơn hàng',
          'Nhà cung cấp'
        ],
        datasets: [{
          data: [
    @Model.TotalAccounts,
    @Model.TotalProducts,
    @Model.TotalBills,
    @Model.TotalSuppliers
              ],
          backgroundColor: [
            '#4E73DF',
            '#1CC88A',
            '#E74A3B',
            '#F6C23E'
          ]
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: { display: false }
        },
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              precision: 0
            }
          }
        }
      }
    });
  </script>
}
