@model int
<li><a class="nav-link" asp-controller="Cart" asp-action="Index" asp-route-variantId="2" id="cart"><i class="ti-bag" data-toggle="modal"></i><span class="badge"><p><span>@Model</span></p></span></a></li>
