@{
	ViewData["Title"] = "Giới thiệu";
}

<!-- back to top Button-->
<a href="#" class="cd-top">Back To Top</a>
<!--End Back to top Button-->
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Giới thiệu</h1>
        <nav class="d-flex align-items-center">
          <a asp-controller="Home" asp-action="Index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
          <a asp-controller="Home" asp-action="Introduction">Giới thiệu</a>

        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->


