@{
	ViewData["title"] = "Admin";
}

@model CompanyInfo


<section id="main-content">
	<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i>
			Thông tin công ty
		</h3>

		<div class="row mt">
			<div class="col-lg-12">
				<div class="content-panel">
					<h4 style="padding:15px 15px 0;">
						<i class="fa fa-info-circle"></i>
						Cập nhật thông tin
					</h4>

					<hr />

					<div class="panel-body">
						<form asp-action="Edit" method="post" class="form-horizontal style-form">

							@* Hidden ID *@
							<input type="hidden" asp-for="Id" />

							<div class="form-group">
								<label class="col-sm-2 col-sm-2 control-label">
									Tên công ty
								</label>
								<div class="col-sm-10">
									<input asp-for="CompanyName" class="form-control" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 col-sm-2 control-label">
									Lĩnh vực kinh doanh
								</label>
								<div class="col-sm-10">
									<input asp-for="BusinessField" class="form-control" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 col-sm-2 control-label">
									Địa chỉ
								</label>
								<div class="col-sm-10">
									<input asp-for="Address" class="form-control" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 col-sm-2 control-label">
									Email
								</label>
								<div class="col-sm-10">
									<input asp-for="Email" class="form-control" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 col-sm-2 control-label">
									Hotline
								</label>
								<div class="col-sm-10">
									<input asp-for="Hotline" class="form-control" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 col-sm-2 control-label">
									Mô tả
								</label>
								<div class="col-sm-10">
									<textarea asp-for="Description"
														class="form-control"
														rows="5"></textarea>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="button"
													class="btn btn-primary"
													data-toggle="modal"
													data-target="#confirmModal">
										<i class="fa fa-save"></i> Lưu thay đổi
									</button>
									<div class="modal fade" id="confirmModal" tabindex="-1">
										<div class="modal-dialog modal-sm">
											<div class="modal-content">

												<div class="modal-header">
													<h4 class="modal-title">
														<i class="fa fa-warning text-warning"></i> Xác nhận
													</h4>
												</div>

												<div class="modal-body">
													<p>Bạn có chắc chắn muốn lưu thay đổi không?</p>
												</div>

												<div class="modal-footer">
													<button type="button"
																	class="btn btn-default"
																	data-dismiss="modal">
														Hủy
													</button>

													<button type="button"
																	class="btn btn-primary"
																	onclick="submitForm()">
														Đồng ý
													</button>
												</div>

											</div>
										</div>
									</div>
									<a asp-action="Index" class="btn btn-default">
										Quay lại
									</a>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

<script>
	function submitForm() {
		document.querySelector("form").submit();
	}
</script>
